@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

html, body, #__nuxt {
  height: 100%;
} 

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-corner {
  background: hsl(215, 28%, 90%);
}
::-webkit-scrollbar-track {
  background: hsl(215, 28%, 90%);
}

::-webkit-scrollbar-thumb {
  background: hsl(216, 28%, 28%);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(215, 28%, 50%);
}

@supports (scrollbar-color: hsl(215, 28%, 80%) hsl(215, 28%, 90%)) {
  * {
    scrollbar-color: hsl(215, 28%, 80%) hsl(215, 28%, 90%);
    scrollbar-width: thin;
  }
}

